@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev, .slick-next {
  background: #333 !important;
  border-radius: 50% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.slick-prev:hover, .slick-next:hover {
  background: #2f0 !important;
}