@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev, .slick-next {
  display: none!important;
}

/*
form {
  margin: 0 auto;
}

input {
  height: 3rem;
  outline: none;
  background: #FFFEFF;
}*/

